@media (min-width: 400px) {
  html, body {
    height: 100%; width: 100%;
    margin: 0; padding: 0;
  }

  body {
    min-height: 650px;
    min-width: 480px;
    position: relative;
  }

  body #container {
    height: 100%;
    min-height: 650px;
    min-width: 480px;
    background: url(../img/cover.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .temperature {
    font-family: abelregular;
    color: white;
    font-size: 160px;
    text-align: center;
    width: 100%;
    position: absolute;
    
  }

  #top .temperature {
    bottom: 55%;
  }

  #bottom .temperature {
    top: 55%;
  }

  .temperature .scale {
    text-align: left;
    font-size: 13px;
    text-transform: uppercase;
    position: relative;
    top: -50px;
    left: -90px;
  }

  .pool-temp, .outside-temp {
    margin-right: -40px;
    margin-left: 80px;
  }

  #condition {
    width: 100%;
    text-align: center;
  }

  #logo {
    width: 100%;
    position: absolute;
    bottom: 20px;
    text-align: center;
  }
}

/* Smartphones (landscape)   */
@media (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) {
  body, html {
    widht: 100%; height: 100%;
    min-height: 100%;
    position: relative;
    margin: 0; padding: 0;
  }
  
  div#rotate {
    position: relative;
    top: 0; left: 0;
    width: 100%; height: 320px;

    background-size: 100%;
    background-position: center center;
    background-image: url(../img/rotate.png);
    background-repeat: no-repeat;
  }

  div#container {
    display: none;
  }
}

/* Smartphones (portrait) */
@media (max-width: 320px) {
  body, html {
    widht: 100%; height: 100%;
    min-height: 480px;
    position: relative;
    overflow: hidden;
    margin: 0; padding: 0;
  }

  div#bottom {
    height: 100%; width: 100%;
    position: absolute;
    bottom: -120px;

    background-size: 100%;
    background-position: center bottom;
    background-image: url(../img/bottom.png);
    background-repeat: no-repeat;
  }

  div#top {
    height: 100%; width: 100%;
    position: absolute;

    background-size: 100%;
    background-position: center bottom;
    background-image: url(../img/top.jpg);
    background-repeat: no-repeat;
  }

  .temperature {
    font-family: abelregular;
    color: white;
    font-size: 80px;
    text-align: center;
    width: 100%;
    position: absolute;
    
  }

  #top .temperature {
    top: 70px;
  }

  #bottom .temperature {
    top: 170px;
  }

  .temperature .scale {
    text-align: left;
    font-size: 9px;
    text-transform: uppercase;
    position: relative;top: -22px;
    left: -45px;
  }

  .pool-temp, .outside-temp {
    margin-right: -20px;
    margin-left: 60px;
  }

  #condition {
    width: 100%;
    text-align: center;
  }

  #condition img {
    width: 48px;
  }

  #logo {
    width: 100%;
    position: absolute;
    top: 290px;
    text-align: center;
  }

  #logo img {
    widht: 80px;
    height: 50px;
  }
}